@keyframes bg_opacity_scale {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bg_opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.backdrop {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1000;
  opacity: 0;
  animation: bg_opacity 150ms ease-in-out forwards;
}

.backdrop > div {
  min-width: 200px;
  min-height: 200px;
  animation: bg_opacity_scale 150ms ease-in-out forwards;
}
